# Service Identification
SERVICE_NAME=user-service

# OpenTelemetry Tracing (Jaeger/ Tempo)
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
DISABLE_TRACING=false

# Grafana Loki Logging
GRAFANA_LOKI_URL=http://localhost:3100
GRAFANA_LOKI_USERNAME=
GRAFANA_LOKI_PASSWORD=

# Log Level (info, debug, warn, error)
LOG_LEVEL=info
