PORT=3001
MONGODB_URI=mongodb://mongodb:27017/freightmatch-users
JWT_SECRET=your_jwt_secret_here_min_32_chars_long!
JWT_REFRESH_SECRET=your_refresh_secret_here_min_32_chars!
CORS_ORIGIN=*
INTERNAL_SERVICE_SECRET=your_internal_secret_min_16
